ft_ls
.build/
*.o
*.a
*.d
test.c
a.out
.vscode/
test2
testf/
.VSCodeCounter/
🎠
testln
callgrind.out.*
ACL
EXTENDED
ft_ls_bonus
.build_bonus/
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
